/*___sec1___*/
*{margin: 0;}
#sec1{
    text-align: center;
    background: #000000;
    height: 2488px;
    color: white;
}
#sec1 h1{
    font-family: Italiana;
    font-size: 64px;
    font-weight: 400;
    line-height: 75.39px;


}
#sec1 p{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    width: 933px;
    height: 50px;
    margin: auto;
}

#sec1 .global div{
    width: 398px;
    height: 500px;
    margin-top: 50px;
}


#sec1 .global{
    display: grid;
    grid-template-columns: 440px 440px 440px;
    justify-content: center;

}

#sec1 .global div{
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#sec1 .div5{
    
    background-image: url(/image_logo_iconeglobal/DeSiDofe_Blanc.png);

}
#sec1 .div1{
    
    background-image: url(/index/page5/img/Rectangle6.png);


}
#sec1 .div2{
    
    background-image: url(/index/page5/img/Rectangle\ .png);

}
#sec1 .div3{
    
    background-image: url(/index/page5/img/Rectangle8.png);

}
#sec1 .div4{
    
    background-image: url(/index/page5/img/Rectangle9.png);

}
#sec1 .div6{
    
    background-image: url(/index/page5/img/Rectangle11.png);

}
#sec1 .div7{
    
    background-image: url(/index/page5/img/Rectangle12.png);

}
#sec1 .div8{
    
    background-image: url(/index/page5/img/Rectangle13.png);

}
#sec1 .div9{
    
    background-image: url(/index/page5/img/Rectangle14.png);

}