*{
    margin: 0;
}

/*___sec1___*/

#sec1{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 163, 163);
}

#sec1 h1{
    font-family: Italiana;
    font-size: 96px;
    font-weight: 400;
    line-height: 113.09px;
    text-align: left;
}

/*___sec2___*/

#sec2{
    display: flex;
}
.sec2{
    width: 50%;
    height: 690px;
    background-color: #444444;
    color: white;
}

.sec2 .trai{
    width: 100px;
    height: 0px;
    border: 2px solid #FFFFFF;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 70px;
}

.sec2 h1{
    text-align: center;
    font-family: Italiana;
    font-size: 48px;
    font-weight: 400;
    padding-top: 50px;
}
.sec2 .div1{
    width: 80%;
    height: 83px;
    border-bottom: 2px solid rgb(255, 253, 253);
}

.sec2 .texteprix{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.sec2 .div1 p{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: left;
}

.sec2 .texteprix p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;    
}

.sec2 .global{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

/*___sec4___*/
#sec3{
    display: flex;
}
#sec3 .imgsec3{
    width: 50%;
    height: 690px;
    background-image: url(/index/page4/img/i91354-ananas-caramelise-au-lait-de-coco.jpg);
    background-size: cover;
}

/*___se5___*/

#sec5{
    height: 500px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

#sec5 .global{
    width: 975px;
    height: 144px;
    text-align: center;
    margin: auto;

}

#sec5 p{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: center;
}

#sec5 button{
    width: 275px;
    height: 55px;
    top: 483px;
    left: 582px;
    padding: 16px 80px 16px 80px;
    gap: 10px;
    border-radius: 8px;
    background: #D37533;
    margin-top: 50px;
}
