body{
    margin: 0;
    padding: 0;
}

#sec1{
    height: 560px;
}
#sec1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 560px;
    background-image: url(/image_logo_iconeglobal/bacground.jpg);
    opacity: 0.2;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#sec1 .div1{
    width: 324px;
    height: 500px;
    background-color: grey;
}

#sec1 .titretexte {
    width: 425px;
    height: 514px;
    background-color: blue;
    text-align: center;
}
#sec1 .titretexte p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    margin-top: 100px;
}
#sec1 .titretexte h1{
    font-family: Italiana;
    font-size: 64px;
    font-weight: 400;
    line-height: 75.39px;
    margin-top: 0;
}
#sec1 .titretexte button{

    width: 275px;
    height: 55px;
    padding: 16px 80px 16px 80px;
    gap: 10px;
    border-radius: 8px;
    opacity: 0px; 
    margin-top: 125px;
    background: var(--Color-3, #AE5027);
   
}



#sec1 .div2{
    width: 324px;
    height: 500px;
    background-color: grey;
}

#sec1 .global{
    margin: auto;
    display: flex;
    width: 65%;
    justify-content: space-evenly;
}

/*_____sec2______*/

#sec2 {
    width: 100%;
}
#sec2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 560px;
    background-image: url(/image_logo_iconeglobal/bacground.jpg);
    opacity: 0.2;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.texte {
    text-align: center;
    padding: 130px;
}

#sec2 p{
    margin: auto;
    width: 1043px;
    height: 188px;
    font-family: Italiana;
    font-size: 40px;
    font-weight: 400;
    line-height: 47.12px;
    text-align: center;
}

/*________sec3_______*/

.global{
    display: flex;
}

#sec3 .titretexte{
    width: 439px;
    height: 420px;
    text-align: center;
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
padding-top: 140px;
}
#sec3 .titretexte p{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    width: 425px;
    height: 96px;
}

#sec3 .titretexte h1{
    margin: 0;
}

#sec3 .div1{
    width: 50%;
    height: 650px;
}
#sec3 .div1::before{
    content: "";
    position: absolute;
    width: 50%;
    height:650px;
    background-image: url(/image_logo_iconeglobal/bacground.jpg);
    opacity: 0.2;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.div2{
    width: 50%;
    background-color: grey;
}

/*____sec4__________*/

#sec4 .divimgsec4{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

#sec4 .div1{
    width: 292px;
    height: 482px;
    background-color: aqua;
    background-image: url(/index/page2/imagepage2/image_8.png);
    background-size: cover;
}
#sec4 .div2{
    width: 392px;
    height: 482px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/index/page2/imagepage2/davide-cantelli-jpkfc5_d-DI-unsplash\ 1.png);
    background-size: cover;
}
#sec4 .div3{
    width: 392px;
    height: 482px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/index/page2/imagepage2/image_6.png);
    background-size: cover;
}
#sec4 .div4{
    width: 292px;
    height: 482px;
    background-color: aqua;
    background-image: url(/index/page2/imagepage2/adam-jaime-YeH5EIRFCIs-unsplash\ 2.png);
    background-size: cover;
}


#sec4 h1{
    font-family: Italiana;
    font-size: 64px;
    font-weight: 400;
    line-height: 75.39px;
    letter-spacing: 0.6000000238418579px;
    text-align: left;
    color: white;
}

.divimgsec4{
    filter: brightness(50%);
}

.divimgsec4 .div2 h1,.div3 h1{
    filter: brightness(100%);
}
xjoCS


