
*{
    margin: 0;
}



header{
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
#nav1{
    margin-left: 240px;
}
#nav2{
    margin-right: 240px;
    padding: 0;
}
nav ul{
    padding: 0;
}


header nav{
    margin-top: 30px;
}

#imgheader{
    width: 152px;
}

header ul {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

#imgsec1{
    position: absolute;
    top: 0px;
    width: 100%;

}

#logoterre{
    width: 33px;
    height: 33px;
    position: absolute;
    right: 80px;
    top: 25px;
}

#sec1 h1{
    position: absolute;
    text-align: center;
    color: white;
    width: 467px;
    height: 94px;
    top: 72%;     
    left: 50%;    
    transform: translate(-50%, -50%);
}

#sec1 button{
    position: absolute;
    color: white;
    background-color: transparent;
    width: 275px;
    height: 55px;
    top: 900px;     
    left: 50%;    
    transform: translate(-50%, -50%);
    padding: 16px 80px 16px 80px;
    border-radius: 8px;
    border: 2px solid white;

}
.vide{
    height: 20px;
}

/*___________________sec2___________________*/

#sec2{
    margin-top: 930px;
    height: 700px;
    display: flex;
    align-items: center;
}

#sec2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 700px;
    background-image: url("/image_logo_iconeglobal/bacground.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Ajuster l'opacité ici */
    z-index: -1;}

#sec2 .div1{
    width: 100%;
    display: flex;
}

.titretexte{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.img{
    display: flex;
    justify-content: space-evenly;
    width: 900px;
}


.img .img1,.img2{

    width: 324px;
    height: 500px;
    background-color: black;

}

.img1{
    background-image: url(/index/page1/image/image_2.jpg);
    background-size: cover;
}
.img2{
    background-image: url(/index/page1/image/image_3.jpg);
    background-size: cover;
}


/*_________sec3_____________*/

.div1sec3 .div1{
    width: 720px;
    height: 885px;
    float: left;
    background-image: url(/index/page1/image/image_5.jpg);
    background-size: cover;

}

.div1sec3{
    display: flex;
    align-items: center;
    width: 100%;
    height: 885px;
}
.div1sec3::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 885px;
    background-image: url("/image_logo_iconeglobal/bacground.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Ajuster l'opacité ici */
    z-index: -1;
}


.titretextesec3{
    text-align: center;
    margin: auto;
    width: 500px;
    height: 500px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/*__________sec4_________________*/

#sec4{

    height: 1000px;
}
#sec4::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1000px;
    background-image: url("/image_logo_iconeglobal/bacground.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Ajuster l'opacité ici */
    z-index: -1;
}

.titretextesec4{
    margin: auto;
    text-align: center;
    width: 950px;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.imgsec4{
    width: 1224px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#sec4 #img1,#img2,#img3{
    background-color: black;
    color: white;
    width: 400px;
    height: 600px;
}

.imgsec4 #img1{
    background-image: url("/index/page1/image/image_6.png");
    background-size: cover;
}
.imgsec4 #img2{
    background-image: url("/index/page1/image/image_7.png");
    background-size: cover;
}
.imgsec4 #img3{
    background-image: url("/index/page1/image/image_8.png");
    background-size: cover;
}

.imgsec4 p{
    margin-top: 580px;
    margin-left: 10px;
}

/*_________sec5__________________*/


#sec5{
    width: 100%;
    height: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#sec5::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 990px;
    background-image: url("/image_logo_iconeglobal/bacground.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Ajuster l'opacité ici */
    z-index: -1;

}

.titretexte{
margin: auto;
}


.divglobal{
    width: 950px;
    margin: auto;
    height: 500px;
}

.imgsec5{
    width: 80px;
    height: 80px;
    background-color: black;
    margin: auto;
}

.divglobal div{
    margin-top: 50px;
}

/*_______sec6________*/


#sec6{
    width: 100%;
    height: 650px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

#sec6 .div1sec6{
    width: 50%;
    height: 100%;
    background-color: black;
    float: left;
    background-image: url("/index/page1/image/map.png");
    background-size: cover;
    
}

.div2sec6{
    margin: auto;
    width: 450px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*_______footer_________*/

footer{
    width: 100%;
    height: 385px;
    color: white;
}
footer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 386px;
    background-image: url("/image_logo_iconeglobal/martin-adams-D9MDpAjlJ6k-unsplash.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(20%); /* Ajuster l'opacité ici */
    z-index: -1;
}



.divfooter{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.logofooter img{
    width: 100px;
}

.div1footer p{
    width: 367px;
    height: 88px;
}

footer .menu1 ul{
    padding: 0;
    list-style: none;
    
}

.menu1 ul li{
    margin-top: 10px;
}

.div2footer{
    margin-top: 20px;
    display: flex;
    margin-left: 165px;
}
.div2footer p{
    margin-right: 50px;
    border-right: 3px solid black;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

footer .contactfooter img{
    
    width: 34px;
    height: 34px;
    margin-left: 20px;
}

hr{
    margin: auto;
    width: 85%;
}

footer .contactfooter{
    margin-left: auto;
    margin-right: 165px;
}








